<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#"> mathapedia</a>
                <ul class="nav">
                    <li><a href="/about">About</a></li>
                    <li><a href="/books">Books</a></li>
                    <li><a href="/books/31">Paper</a></li>
                    <li><a href="/books/34">Examples</a></li>
                    <li><a href="/latex">Sandbox</a></li>
                </ul>
        </div>

        <div id="main-editor" class="ltx-ctx"></div>

    </div>
</div>

<div class="container main-content" role="main">

</div>

<footer class="footer">
    <div class="container">
        <p>Dan Lynch &copy; Mathapedia 2012 </p>
    </div>
</footer>
