
  <form class="form-horizontal signup-form">
    <fieldset>
      <div id="legend" class="">
        <legend class="">Signup!</legend>
      </div>
    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">Email</label>
          <div class="controls">
            <input type="text" placeholder="Email" name="email" class="input-xlarge">
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">first</label>
          <div class="controls">
            <input type="text" placeholder="first" name="first" class="input-xlarge">
          </div>
        </div>

    <div class="control-group">

          <!-- Text input-->
          <label class="control-label" for="input01">last</label>
          <div class="controls">
            <input type="text" placeholder="last" name="last" class="input-xlarge">
          </div>
        </div>

    

    <div class="control-group">

          <!-- Select Basic -->
          <label class="control-label">I am a ...</label>
          <div class="controls">
            <select class="input-xlarge" name="author">
		      <option value="0">student</option>
		      <option value="1">author</option></select>
          </div>

        </div>

    <div class="control-group">

          <label class="control-label" for="input01">password</label>
          <div class="controls">
            <input type="password" placeholder="password" name="password" class="input-xlarge">
          </div>
        </div>

    <div class="control-group">

          <label class="control-label" for="input01">verify</label>
          <div class="controls">
            <input type="password" placeholder="verify password" name="password2" class="input-xlarge">
          </div>
        </div>

    <div class="control-group">


    		<button type="submit" class="btn">Signup!</button>

        </div>

    </fieldset>


  </form>