<p>
	type $\LaTeX$ + HTML in the box below. Read more info here: <a href="http://docs.mathjax.org/en/latest/tex.html" data-bypass="true" target="mathjax">MathJax Docs</a>
</p>

<textarea name="Content[text]" class="latex-content">{{&text}}</textarea>

<button type="submit" class="btn btn-mini btn-primary latex-save">Save</button>

<!-- <a class="btn latex-cancel" href="/sketch/{{id}}">Cancel</a> -->
<button class="btn btn-mini latex-view">View</button>
<button class="random-sketch btn btn-mini btn-primary pull-right">Load Random Sketch</button>

<input type="checkbox" checked> real-time preview

<div class="progress progress-info progress-striped">
  <div class="bar" style="width: 0%"></div>
</div>
